.container{
    flex-direction:row;
    align-content:space-between;
    justify-content:flex-start;
    margin-top:2rem;
    border-top-style:solid;
    border-bottom-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.jobs-container{
    display:flex;
    flex-direction:column;
    height:40rem;
    width:30%;
    overflow:auto;
    border-right-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.joblisting{
    display:flex;
    justify-content:space-between;
    padding:1.5rem;
    border-bottom-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.joblisting:hover{
    cursor:pointer;
    background-color:#FAFAFA;
}

.applicant{
    padding:1rem 0rem 1rem 0rem;
    border-bottom-style:solid;
    border-color:lightgray;
    border-width: 0.1rem;
}

.view-app{
    width:30%;
    height:40rem;
    word-wrap:break-word;
    padding: 0rem 1rem 1rem 1rem;
    border-right-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.full-app{
    padding:1rem;
    width:40%;
    height:40rem;
    overflow:auto;
    word-wrap:break-word;
}

.btn-primary,
.btn-primary:hover{
    width:10rem;
    border-radius:1rem;
    margin-top:0.5rem;
}

.btn-primary:hover{
    cursor:pointer;
}

.new-count{
    display:inline-block;
    float:right;
    border-radius: 50%;
    border-color:lightgray;
    border-style:solid;
    border-width:1px;
    width:40px;
    height:40px;
    margin:18px;
    padding-top:5px;
    text-align:center;
}