body{
    font-family: arial;
    font-size: 16px;
}

h1{
    padding-top:2rem;
    text-align: center;
    font-weight:bold;
    color:#393939;
}

.container{
    display:flex;
    align-items:flex-start;
    justify-content:center;
}

.item{
    padding:0.5rem;
    border-style:solid;
    border-width:0.15rem;
    border-color:#393939;
    border-radius:1rem;
    margin-bottom:0.75rem;
    word-wrap:break-word;
    width:30rem;
}

.form-group{
    justify-content:center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.form-row{
    justify-content:center;
    padding-bottom:1rem;
    width:20rem;
}

.line-input{
    width:20rem;
    
}

.block-input{
    width:20rem;
    height:12rem;
}

.btn{
    border-radius:2rem;
    padding:1rem;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited{
    width:20rem;
    color:white;
    background-color:#393939!important;
}

.btn-secondary,
.btn-seconary:active,
.btn-secondary:visited{
    width:10rem;
    padding:1rem;
    color:white;
    background-color:#393939;
}

.btn-secondary:hover,
.btn-primary:hover{
    background-color:black!important;
}

.btn-outline-dark{
    color:#393939;
    background-color:white!important;
}

.btn-outline-dark:hover{
    color:white;
}

.btn-outline-light,
.btn-outline-light:visited{
    width:5rem;
    height:1.5rem;
    padding:0rem 0.25rem 0rem 0.25rem;
    margin-top:0.5rem;
}

.status{
    float:right;
    vertical-align: middle;
    margin-top:1rem;
}