.dashboard{
    display:flex;
    align-items:flex-start;
    justify-content:center;
    padding:2rem;
}

.dash-panel{
    display:flex;
    flex-wrap:wrap;
    width:33%;
    margin:1rem;
    padding:1rem;
    border-style:solid;
    border-width:0.1rem;
    border-color:#070707;
}

.panel-item{
    padding:0.5rem;
    border-style:solid;
    border-width:0.15rem;
    border-color:#070707;
    border-radius:1rem;
    word-wrap:break-word;
    width:100%;
}

h3{
    color:#070707;
    font-size:24px;
}

a.view-all:link,
a.view-all:visited,
a.view-all:hover,
a.view-all:active{
    color:#070707;
    margin-left:auto;
    text-decoration:underline;
}