.dashboard{
    display:flex;
    align-items:flex-start;
    padding:2rem;
}

.panel-header{
    display:flex;
    align-content:flex-start;
    flex-wrap:wrap;
    overflow: auto;
    width:33%;
    margin:1rem;
    border-style:solid;
    border-width:0.1rem;
    border-color:lightgray;
}

.dash-panel{
    display:flex;
    align-content:flex-start;
    flex-wrap:wrap;
    overflow: auto;
    width:33%;
    height:40rem;
    margin:1rem;
    padding:1rem;
    border-style:solid;
    border-width:0.1rem;
    border-color:lightgray;
}

.panel-item{
    margin-bottom:0.5rem;
    padding:1rem 2rem 1rem 2rem;
    border-style:solid;
    border-width:0.1rem;
    border-color:lightgray;
    border-radius:1rem;
    word-wrap:break-word;
    width:100%;
}

.tool-panel{
    margin-bottom:-0.2rem;
    padding:2rem;
}

.tool-panel:hover{
    background-color:#f5f5f5;
}

h3{
    color:#393939;
    font-size:24px;
}

h5{
    color:#393939;
    font-size:18px;
    font-weight:bold;
}

a.recruiter-tool:link,
a.recruiter-tool:visited,
a.recruiter-tool:hover,
a.recruiter-tool:active{
    width:100%;
    margin-bottom:0.75rem;
    color:#393939;
    text-decoration:none!important;
}

a.view-all:link,
a.view-all:visited,
a.view-all:hover,
a.view-all:active{
    color:#393939;
    margin-left:auto;
    text-decoration:underline;
}

.status{
    float:right;
    vertical-align: middle;
    margin-top:1rem;
}