.container{
    flex-direction:row;
    align-content:space-between;
    justify-content:flex-start;
    margin-top:2rem;
    border-top-style:solid;
    border-bottom-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.jobs-container{
    display:flex;
    flex-direction:column;
    height:40rem;
    width:50%;
    overflow:auto;
    border-right-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.joblisting{
    padding:1.5rem;
    border-bottom-style:solid;
    border-color:lightgray;
    border-width:0.1rem;
}

.joblisting:hover{
    cursor:pointer;
    background-color:#FAFAFA;
}

.view-job{
    padding:1rem;
    width:50%;
}

.btn-primary,
.btn-primary:hover{
    width:10rem;
    border-radius:1rem;
    margin-bottom:0.5rem;
}

.btn-primary:hover{
    cursor:pointer;
}

.del-btn{
    background-color:#d11a2a;
    float:right;
    width:6rem;
    height:2rem;
    border-radius:1rem;
    border:none;
    color:white;
    margin-right:20rem;
    margin-top:-2rem;
}

.del-btn:hover{
    cursor:pointer;
    background-color:#921822;
}

.edit-btn{
    background-color:#393939;
    width:6rem;
    height:2rem;
    border-radius:1rem;
    border:none;
    color:white;
}

.edit-btn:hover{
    cursor:pointer;
    background-color:black;
}