.search-block{
    padding-top:1rem;

}

.search-item{
    margin:0rem 0.5rem 0rem 0.5rem;
}

.btn-secondary{
    all:none!important;
    width:10rem;
    padding:0.25rem;
    border-radius:1rem;
    background-color:#393939;
}

.btn-secondary:hover{
    cursor:pointer;

}

.btn-success{
    padding:0.3rem 0.5rem 0.3rem 0.5rem;
    float:right;
    border-radius:1rem;
    border:none;
}

.btn-success:hover{
    cursor:pointer;
}