.empty{
    width:30%;
    height:10rem;
}

.center-box{
    width:40%;
    padding-left:4rem;
}

#sub-box{
    margin-bottom:3rem;
}

#curr-subs{
    text-align:left;
}

.sub-module{
    width:30%;
    height:auto;
    text-align:center;
    padding:2rem;
    border: solid 0.1rem lightgray;
    border-radius:1rem;
}

.sub-btn,
.sub-btn:hover{
    width:200px;
    height:30px;
    margin-bottom:-10px;
}

.sub-input{
    width:12rem!important;
    margin-right:3rem;
}

.unsub-btn{
    width:8rem;
    height:2rem;
    font-size:10pt;
    margin-bottom:2rem;
    border-radius:1rem;
    background-color:#393939;
    color:white;
    border:none;
}

.unsub-btn:hover{
    cursor:pointer;
    background-color:black;
}
