<!doctype html>
<html lang="en">
    <head>
        <title>Create Job Listing</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <a class="navbar-brand" href="/homepage">Job Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/recruiter/jobs">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/joblisting/create">Create job listing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/recruiter/applications">Applications</a>
                </li>
                <li class="nav-item">
                  <!-- Replace with person icon-->
                  <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
            </div>
        
          </div>
        <div class="container">
            <div class="center-box">
                <h1>Create job listing</h1>
                <form  method="post" action="/joblisting/create" name = "joblisting-form" id="joblisting-form">
                    <div class="form-group">
                        <label for="jobtitle">Job title</label><br>
                        <input type="text" name="job_title" id="jobtitle" placeholder="QA Engineer" required class="line-input"/><br>
                    </div>
                    <div class="form-group">
                        <label for="company_name">Company Name</label><br>
                        <input type="text" name="company_name" id="company_name" placeholder="Google" required class="line-input"/><br>
                    </div>
                    <div class="form-group">
                        <label for="salary-type">Salary type</label><br>
                        <input type="radio" name ="salary_type" id="hourly" value="hr"/>
                        <label for="hourly">Hourly</label>
                        <input type="radio" name ="salary_type" id="annual"  value="yr"/>
                        <label for="annual">Annual</label><br>
                    </div>
                    <div class="form-group">
                        <label for="salary-range">Salary range</label><br>
                        <input type="number" name ="salary_range_start" id="salaryrange-start" placeholder="Salary range start" class="line-input"/><br>
                        <input type="number" name="salary_range_end" id="salaryrange-end" placeholder="Salary range end" class="line-input"/><br><br>
                    </div>
                    <div class="form-group">
                        <label for="job-type">Job type</label><br>
                        <input type="radio" name ="job_type" id="full-time" value="Fulltime"/>
                        <label for="full-time">Full-time</label>
                        <input type="radio" name ="job_type" id="part-time" n value="Parttime"/>
                        <label for="part-time">Part-time</label>
                        <input type="radio" name ="job_type" id="intern" value="Internship"/>
                        <label for="intern">Internship</label><br>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label><br>
                    <input type="text" name="location" id="location" placeholder="San Jose, CA" required class="line-input"/><br>
                    </div>
                    <div class="form-group">
                        <label for="experience">Experience</label><br>
                        <input type="text" name="experience" id="experience" placeholder="0-2 years" class="line-input"/><br>
                    </div>
                    <div class="form-group">
                        <label for="exp_date">Expiration date</label><br>
                        <input type="date" name="exp_date" id="exp_date" required/><br>
                    </div>
                    <div class="form-group">
                        <label for="description">Job description</label><br>
                        <textarea id="description" name="description" placeholder="Join Google's Summer 2022 internship program!" class="block-input"></textarea><br>
                    </div>
                    <div class="form-group">
                        <label for="qualifications_min">Minimum qualifications</label><br>
                        <textarea id="qualifications-min"  name="m_qualifications" placeholder="Pursuing a Bachelor's in Computer Science or related field." required class="block-input"></textarea><br>
                    </div>
                    <div class="form-group">
                        <label for="qualifications_pref">Preferred qualifications</label><br>
                        <textarea id="qualifications-pref"  name="p_qualifications" placeholder="Proficient in Python" required class="block-input"></textarea><br>
                    </div>
                    
                    <input type="button"  id="cancel"  value="Cancel" class="btn btn-secondary btn-outline-dark">
                    <input type="submit" id="createjob"  value="Post" class="btn btn-secondary">
                    
                </form>
            </div>
       </div>
    </body>
</html>