<html>
  <head>
    <script>
      fetch('/user').then(res => res.json()).then(json => {
        const greeting = document.createElement("h1");
        const content = document.createTextNode("Hi, " + json.first_name + "!");
        greeting.appendChild(content);
        const container = document.getElementById("greeting");
        container.appendChild(greeting);
      });

      // my recent job listings
      fetch('/most_recent_listings').then(res => res.json()).then(json => {
                  if (json.length == 0) {
                    const newDiv = document.createElement("div");
                    const br = document.createElement("BR")
                    var h3 = document.createElement('h6');
                    const link = document.createTextNode('You do not have any job listings at this time')
                    h3.appendChild(link)
                    const container = document.getElementById("joblistings");
                    newDiv.appendChild(br)
                    newDiv.appendChild(br)
                    newDiv.appendChild(br)
                    newDiv.appendChild(h3)
                    container.appendChild(newDiv);
                    return;
                  }
                  // most recent records
                  json.forEach((element,i) => {
                    // display on 4 records
                    const newDiv = document.createElement("div");
                    const link = document.createTextNode(element.job_title)
                    const name = document.createTextNode(element.company_name)
                    const loc = document.createTextNode(element.location)
                    var h3 = document.createElement('h5');
                    h3.appendChild(link)
                    newDiv.appendChild(h3);
                    var h4 = document.createElement('h6')
                    h4.appendChild(name)
                    newDiv.appendChild(h4)
                    var h4 = document.createElement('h6')
                    h4.appendChild(loc)
                    newDiv.appendChild(h4)
                    const container = document.getElementById("joblistings");
                    container.appendChild(newDiv);
                    newDiv.classList.add('panel-item')
                    
                  });
            });

      fetch('/inbox').then(res => res.json()).then(json => {
        if (json.length == 0) {
            const newDiv = document.createElement("div");
            const br = document.createElement("BR")
            var h3 = document.createElement('h6');
            const link = document.createTextNode('You do not have any job listings at this time')
            h3.appendChild(link)
            const container = document.getElementById("inbox");
            newDiv.appendChild(br)
            newDiv.appendChild(br)
            newDiv.appendChild(br)
            newDiv.appendChild(h3)
            container.appendChild(newDiv);
            return;
        }
        json.forEach((element) => {
          const newDiv = document.createElement("div");
          const infoDiv = document.createElement("div");
          const newCountDiv = document.createElement("div");
          const link = document.createTextNode(element.job_title);
          const name = document.createTextNode(element.company_name);
          const loc = document.createTextNode(element.location);
          const count = document.createTextNode(element.new_app_count);
          var h5 = document.createElement('h5');
          h5.appendChild(link);
          infoDiv.appendChild(h5);
          var h4 = document.createElement('h6');
          h4.appendChild(name);
          infoDiv.appendChild(h4);
          var h4 = document.createElement('h6');
          h4.appendChild(loc);
          infoDiv.appendChild(h4);
          const p = document.createElement('p');
          p.style.fontSize = "20px";
          p.appendChild(count);
          newCountDiv.appendChild(p);
          const container = document.getElementById("inbox");
          container.appendChild(newDiv);
          newDiv.classList.add('panel-item');
          infoDiv.style.display = "inline-block";
          newCountDiv.style.display = "inline-block";
          newCountDiv.style.float = "right";
          newCountDiv.style.borderRadius = "50%";
          newCountDiv.style.borderBlockColor = "000000";
          newCountDiv.style.borderStyle = "solid";
          newCountDiv.style.borderWidth = "1px";
          newCountDiv.style.width = "40px";
          newCountDiv.style.height = "40px";
          newCountDiv.style.margin = "18px";
          newCountDiv.style.paddingTop = "5px";
          newCountDiv.style.textAlign = "center";
          newDiv.appendChild(infoDiv);
          newDiv.appendChild(newCountDiv);
        });
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
	  <title>JobStart</title>
  </head>
  <body>
    <div class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <a class="navbar-brand" href="/homepage">JobStart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="/my_joblistings">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/joblisting/create">Create job listing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recruiter/applications">Applications</a>
            </li>
            <li class="nav-item">
                <!-- Replace with person icon-->
                <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </div>
    <div id="greeting"></div>
    <div class="dashboard">
      <div class="dash-panel" id="joblistings">
        <!-- Loop through 10 jobs -->
        <h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
          Jobs
        </h3> <a class="view-all" href="my_joblistings">View all</a>
      </div>
      <div class="dash-panel" id="inbox">
        <!-- Loop through 10 saved jobs-->
        <!-- Replace with link to saved jobs page -->
        <h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
          </svg>
          Inbox
        </h3> <a class="view-all" href="/recruiter/applications">View all</a>
      </div>
      <div class="dash-panel" id="applications">
        <h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
          </svg>
          Recruiter tools
        </h3> 
        <!-- Loop through 3 recent applications -->
        <a class="recruiter-tool" href="/joblisting/create">
            <div class="panel-item tool-panel" id="createjl">
            Create job listing
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            </div>
        </a>
        <a class ="recruiter-tool" href="/recruiter/applications">
            <div class="panel-item tool-panel" id="viewapps">
            View applications
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
              <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
            </div>
        </a>
      </div>
    </div>
    </form>
  </body>
</html>