<!doctype html>
<html lang="en">
    <head>
        <script>

            fetch('/jobs').then(res => res.json()).then(json => { 
                json.forEach((element, i) => {
                    const newDiv = document.createElement("div");
                    const infoDiv = document.createElement("div");
                    newDiv.id = element.job_id;
                    newDiv.classList.add("joblisting")
                    const link = document.createTextNode(element.job_title)
                    const loc = document.createTextNode(element.location)
                    const name = document.createTextNode(element.company_name)
                    var h3 = document.createElement('h5');
                    h3.appendChild(link)
                    infoDiv.appendChild(h3);
                    var h4 = document.createElement('h6')
                    h4.appendChild(name)
                    infoDiv.appendChild(h4)
                    var h4 = document.createElement('h6')
                    h4.appendChild(loc)
                    infoDiv.appendChild(h4)
                    const buttonDiv = document.createElement("div");
                    const save_button = document.createElement("button");
                    save_button.classList.add("btn-success");
                    if (!element.saved)
                        save_button.innerHTML = "Save Job";
                    else
                        save_button.innerHTML = "Saved!";
                    save_button.addEventListener("click", function () {
                        if (save_button.innerHTML == "Save Job") {
                            fetch('/save_job', { method: 'POST',
                                                 body: JSON.stringify(element),
                                                 headers: {'Content-Type': 'application/json'}
                                                }).then(response => { if (response.status == 201)
                                                                     { save_button.innerHTML = "Saved!";}});
                        } else {
                            fetch('/save_job', { method: 'DELETE',
                                                 body: JSON.stringify(element),
                                                 headers: {'Content-Type': 'application/json'}
                                                }).then(response => { if (response.status == 200)
                                                                     { save_button.innerHTML = "Save Job";}});
                        }
                    });
                    // display job listing info
                    newDiv.addEventListener("click",function() {
                      var full_info = document.getElementById('view-job');
                      full_info.innerHTML = "";
                      var h3 = document.createElement('h3');
                      var title = document.createTextNode(element.job_title);
                      h3.appendChild(title);
                      full_info.appendChild(h3);
                      var h5 = document.createElement('h5');
                      var company = document.createTextNode(element.company_name);
                      h5.appendChild(company);
                      full_info.appendChild(h5);
                      // apply button
                      var form = document.createElement("form");
                      var apply_button = document.createElement("input");
                      var hidden_data = document.createElement("input");
                      hidden_data.type = "hidden";
                      hidden_data.name = "job_title";
                      hidden_data.value = element.job_title;
                      form.method = "POST";
                      form.action = "/apply/" + element.job_id;
                      apply_button.type = "submit";
                      apply_button.value = "Apply";
                      if (element.applied) {
                        apply_button.disabled = true;
                        apply_button.value = "Applied";
                      }
                      apply_button.classList.add("btn-primary");
                      form.appendChild(hidden_data);
                      form.appendChild(apply_button);
                      full_info.appendChild(form);
                      full_info.appendChild(document.createElement("br"));
                      // job info
                      var sal = document.createTextNode("Salary range: " + element.salary_range_start +  " - " + element.salary_range_end + " per " + element.salary_type);
                      full_info.appendChild(sal);
                      full_info.appendChild(document.createElement("br"));
                      var jbtype = document.createTextNode("Job type: " + element.job_type);
                      full_info.appendChild(jbtype);
                      full_info.appendChild(document.createElement("br"));
                      var loc = document.createTextNode("Location: " + element.location);
                      full_info.appendChild(loc);
                      full_info.appendChild(document.createElement("br"));
                      var exp = document.createTextNode("Experience: " + element.experience);
                      full_info.appendChild(exp);
                      full_info.appendChild(document.createElement("br"));
                      var desc = document.createTextNode("Description: " + element.description);
                      full_info.appendChild(desc);
                      full_info.appendChild(document.createElement("br"));
                      var minq = document.createTextNode("Minimum Qualifications: " + element.m_qualifications);
                      full_info.appendChild(minq);
                      full_info.appendChild(document.createElement("br"));
                      var prefq = document.createTextNode("Preferred Qualifications: " + element.p_qualifications);
                      full_info.appendChild(prefq);
                      full_info.appendChild(document.createElement("br"));
                      var expiration = document.createTextNode("Accepts application until: " + element.exp_date);
                      full_info.appendChild(expiration);
                      full_info.appendChild(document.createElement("br"));
                    });
                    infoDiv.style.display = "inline-block";
                    buttonDiv.style.display = "inline-block";
                    buttonDiv.style.float = "right";
                    buttonDiv.appendChild(save_button);
                    buttonDiv.style.marginTop = "20px";
                    const container = document.getElementById("jobs");
                    container.appendChild(newDiv);
                    newDiv.appendChild(infoDiv);
                    newDiv.appendChild(buttonDiv);
                })});

                window.onload = function () {
                  
                  let loc = document.getElementById("location");
                  let find_jobs = document.getElementById("find_jobs");
                  let type = document.getElementById("type");
                  let search = document.getElementById("search");                
                  find_jobs.addEventListener("click", function() {
                    fetch('/joblistings/search/', 
                          {
                            method: "POST",
                            body: '{ "search": ' + JSON.stringify(search.value) +
                                  ', "type": ' + JSON.stringify(type.value) + 
                                  ', "location": ' + JSON.stringify(loc.value) + '}',
                            headers: {'Content-Type': 'application/json'}
                          }).then(res => res.json()).then(json => {
                            let jobs_container = document.getElementById("jobs");
                            // display results
                            jobs_container.innerHTML = "";
                            var search_results = json.documents;
                            search_results.forEach((element, i) =>{
                              const newDiv = document.createElement("div");
                              const infoDiv = document.createElement("div");
                              newDiv.id = element.id;
                              newDiv.classList.add("joblisting")
                              const link = document.createTextNode(element.value.job_title)
                              const loc = document.createTextNode(element.value.location)
                              const name = document.createTextNode(element.value.company_name)
                              var h3 = document.createElement('h5');
                              h3.appendChild(link)
                              infoDiv.appendChild(h3);
                              var h4 = document.createElement('h6')
                              h4.appendChild(name)
                              infoDiv.appendChild(h4)
                              var h4 = document.createElement('h6')
                              h4.appendChild(loc)
                              infoDiv.appendChild(h4)
                              const buttonDiv = document.createElement("div");
                              const save_button = document.createElement("button");
                              save_button.classList.add("btn-success");
                              if (!element.value.saved)
                                  save_button.innerHTML = "Save Job";
                              else
                                  save_button.innerHTML = "Saved!";
                              save_button.addEventListener("click", function () {
                                  if (save_button.innerHTML == "Save Job") {
                                      fetch('/save_job', { method: 'POST',
                                                          body: JSON.stringify(element.value),
                                                          headers: {'Content-Type': 'application/json'}
                                                          }).then(response => { if (response.status == 201)
                                                                              { save_button.innerHTML = "Saved!";}});
                                  } else {
                                      fetch('/save_job', { method: 'DELETE',
                                                          body: JSON.stringify(element.value),
                                                          headers: {'Content-Type': 'application/json'}
                                                          }).then(response => { if (response.status == 200)
                                                                              { save_button.innerHTML = "Save Job";}});
                                  }
                              });
                              // display job listing info
                              newDiv.addEventListener("click",function() {
                                var full_info = document.getElementById('view-job');
                                full_info.innerHTML = "";
                                var h3 = document.createElement('h3');
                                var title = document.createTextNode(element.value.job_title);
                                h3.appendChild(title);
                                full_info.appendChild(h3);
                                var h5 = document.createElement('h5');
                                var company = document.createTextNode(element.value.company_name);
                                h5.appendChild(company);
                                full_info.appendChild(h5);
                                // apply button
                                var form = document.createElement("form");
                                var apply_button = document.createElement("input");
                                var hidden_data = document.createElement("input");
                                hidden_data.type = "hidden";
                                hidden_data.name = "job_title";
                                hidden_data.value = element.value.job_title;
                                form.method = "POST";
                                form.action = "/apply/" + element.id;
                                apply_button.type = "submit";
                                apply_button.value = "Apply";
                                if (element.value.applied) {
                                  apply_button.disabled = true;
                                  apply_button.value = "Applied";
                                }
                                apply_button.classList.add("btn-primary");
                                form.appendChild(hidden_data);
                                form.appendChild(apply_button);
                                full_info.appendChild(form);
                                full_info.appendChild(document.createElement("br"));
                                // job info
                                var sal = document.createTextNode("Salary range: " + element.value.salary_range_start +  " - " + element.salary_range_end + " per " + element.salary_type);
                                full_info.appendChild(sal);
                                full_info.appendChild(document.createElement("br"));
                                var jbtype = document.createTextNode("Job type: " + element.value.job_type);
                                full_info.appendChild(jbtype);
                                full_info.appendChild(document.createElement("br"));
                                var loc = document.createTextNode("Location: " + element.value.location);
                                full_info.appendChild(loc);
                                full_info.appendChild(document.createElement("br"));
                                var exp = document.createTextNode("Experience: " + element.value.experience);
                                full_info.appendChild(exp);
                                full_info.appendChild(document.createElement("br"));
                                var desc = document.createTextNode("Description: " + element.value.description);
                                full_info.appendChild(desc);
                                full_info.appendChild(document.createElement("br"));
                                var minq = document.createTextNode("Minimum Qualifications: " + element.value.m_qualifications);
                                full_info.appendChild(minq);
                                full_info.appendChild(document.createElement("br"));
                                var prefq = document.createTextNode("Preferred Qualifications: " + element.value.p_qualifications);
                                full_info.appendChild(prefq);
                                full_info.appendChild(document.createElement("br"));
                                var expiration = document.createTextNode("Accepts application until: " + element.value.exp_date);
                                full_info.appendChild(expiration);
                                full_info.appendChild(document.createElement("br"));
                              });
                              infoDiv.style.display = "inline-block";
                              buttonDiv.style.display = "inline-block";
                              buttonDiv.style.float = "right";
                              buttonDiv.appendChild(save_button);
                              buttonDiv.style.marginTop = "20px";
                              jobs_container.appendChild(newDiv);
                              newDiv.appendChild(infoDiv);
                              newDiv.appendChild(buttonDiv);
                            }) 
                          });
                  });
                }
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/search.css">
        <link rel="stylesheet" type="text/css" href="/css/jobsviewer.css">
        <title>Search</title>
    </head>
    <body>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="/homepage">Job Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/savedjobs">Saved Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="recently_applied">Recently Applied</a>
            </li>
            <li class="nav-item">
              <!-- Replace with search icon-->
              <a class="nav-link" href="/job_search">Search</a>
            </li>
            <li class="nav-item">
              <!-- Replace with person icon-->
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
  
          </ul>
        </div>
  
      </div>

        <h1>Search jobs</h1>
        <!-- Search bar-->
        <div id="jobsearch-form">
          <div class="form-group row search-block">
            <div class="col-xs-4 search-item">
              <input type="text" name="search" class="form-control search-item" id="search" placeholder="Job title" aria-label="Search">
            </div>
            <!-- <div class="col-xs-2 search-item">
              <select class="custom-select" id="salary" name="salary" aria-label="Salary">
                <option value="none">Salary range</option>
                <option value="min10-max30">$10,000-$30,000</option>
                <option value="min30-max-50">$30,000-$50,000</option>
                <option value="min50-max-80">$50,000-$80,000</option>
                <option value="min80-max-100">$80,000-$100,000</option>
                <option value="over-100">$100,000+</option>
              </select>
            </div> -->
            <div class="col-xs-2 search-item">
              <select class="custom-select" id="type" name="type" aria-label="Job type">
                <option value="none">Job type</option>
                <option value="internship">Internship</option>
                <option value="parttime">Part time</option>
                <option value="fulltime">Full time</option>
              </select>
            </div>
            <div class="col-xs-2 search-item">
              <input type="text" class="form-control" name="location" id="location" placeholder="Location" aria-label="Location">
            </div>
            <!-- <div class="col-xs-2 search-item">
              <select class="custom-select" id="experience" name="experience" aria-label="Experience">
                <option value="none">Job type</option>
                <option value="1yr">0-1 year</option>
                <option value="3yr">1-3 years</option>
                <option value="5yr">3-5 years</option>
                <option value="5yr-plus">5+ years</option>
              </select>
            </div> -->
            <div class="col-xs-2 search-item">
              <button class="btn-secondary" value="Search" id="find_jobs">Find jobs</button>
            </div>
          </div>
        </div>

        <!--Jobs-->
        <div class="container">
          <div class="jobs-container" id="jobs">

          </div>
          <div class="view-job" id="view-job">

          </div>
        </div>
    </body>
</html>