<!doctype html>
<html lang="en">
    <head>
        <script>
            fetch('/created_jobs').then(res => res.json()).then(json => {
                console.log(json);
                if (json == []) {
                    const newDiv = document.createElement("div");
                    const br = document.createElement("BR")
                    var h3 = document.createElement('h3');
                    const link = document.createTextNode('You do not have any job listings at this time!!')
                    h3.appendChild(link)
                    const container = document.getElementById("joblistings");
                    newDiv.appendChild(br)
                    newDiv.appendChild(br)
                    newDiv.appendChild(br)
                    newDiv.appendChild(h3)
                    container.appendChild(newDiv);
                    return;
                }
                json.forEach(element => {
                    const newDiv = document.createElement("div");
                    newDiv.id = element.job_id;
                    newDiv.classList.add("joblisting")
                    const link = document.createTextNode(element.job_title)
                    const loc = document.createTextNode(element.location)
                    const name = document.createTextNode(element.company_name)
                    var h3 = document.createElement('h5');
                    h3.appendChild(link)
                    newDiv.appendChild(h3);
                    var h4 = document.createElement('h6')
                    h4.appendChild(loc)
                    newDiv.appendChild(h4)
                    var h4 = document.createElement('h6')
                    h4.appendChild(name)
                    newDiv.appendChild(h4)
                    const container = document.getElementById("joblistings");
                    container.appendChild(newDiv);
                    newDiv.addEventListener("click",function() {
                        var full_info = document.getElementById('view-job');
                        full_info.innerHTML = "";
                        var h3 = document.createElement('h3');
                        var title = document.createTextNode(element.job_title);
                        h3.appendChild(title);
                        full_info.appendChild(h3);
                        // edit button
                        var form = document.createElement("form");
                        var edit_button = document.createElement("input");
                        var hidden_data = document.createElement("input");
                        hidden_data.type = "hidden";
                        hidden_data.name = "job_title";
                        hidden_data.value = element.job_title;
                        form.method = "POST";
                        form.action = "/edit/" + element.job_id;
                        edit_button.type = "submit";
                        edit_button.value = "Edit";
                        edit_button.classList.add("btn-primary");
                        form.appendChild(hidden_data);
                        form.appendChild(edit_button);
                        full_info.appendChild(form);
                        full_info.appendChild(document.createElement("br"));
                        // job info
                        var sal = document.createTextNode("Salary range: " + element.salary_range_start +  " - " + element.salary_range_end + " per " + element.salary_type);
                        full_info.appendChild(sal);
                        full_info.appendChild(document.createElement("br"));
                        var jbtype = document.createTextNode("Job type: " + element.job_type);
                        full_info.appendChild(jbtype);
                        full_info.appendChild(document.createElement("br"));
                        var loc = document.createTextNode("Location: " + element.location);
                        full_info.appendChild(loc);
                        full_info.appendChild(document.createElement("br"));
                        var exp = document.createTextNode("Experience: " + element.experience);
                        full_info.appendChild(exp);
                        full_info.appendChild(document.createElement("br"));
                        var desc = document.createTextNode("Description: " + element.description);
                        full_info.appendChild(desc);
                        full_info.appendChild(document.createElement("br"));
                        var minq = document.createTextNode("Minimum Qualifications: " + element.m_qualifications);
                        full_info.appendChild(minq);
                        full_info.appendChild(document.createElement("br"));
                        var prefq = document.createTextNode("Preferred Qualifications: " + element.p_qualifications);
                        full_info.appendChild(prefq);
                        full_info.appendChild(document.createElement("br"));
                        var expiration = document.createTextNode("Expiration date: " + element.exp_date);
                        full_info.appendChild(expiration);
                        full_info.appendChild(document.createElement("br"));
                    })
                });
                
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/jobsviewer.css">
        <title>Saved Jobs</title>
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <a class="navbar-brand" href="/homepage">Job Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
      
                  <li class="nav-item">
                      <a class="nav-link" href="/my_joblistings">Jobs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/joblisting/create">Create job listing</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/recruiter/applications">Applications</a>
                  </li>
                  <li class="nav-item">
                      <!-- Replace with person icon-->
                      <a class="nav-link" href="/settings">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                  </ul>
              </div>
          </div>
        <h1>My Job Listings</h1>
        <div class="container">
            <div class="jobs-container" id="joblistings">

            </div>
            <div class="view-job" id="view-job">
  
            </div>
        </div>
    </body>
</html>