<!doctype html>
<html lang="en">
    <head>
        <script>
            fetch('/submitted_apps').then(res => res.json()).then(json => {
                json.forEach(element => {
                    for (var key in element){
                    const newDiv = document.createElement("div");
                    const content = document.createTextNode(key);
                    newDiv.appendChild(content);
                    const container = document.getElementById("submittedjobs");
                    container.appendChild(newDiv);
                    }
                });
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <title>Recently Applied</title>
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <a class="navbar-brand" href="/homepage">Job Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/savedjobs">Saved Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/recently_applied">Recently Applied</a>
                </li>
                <li class="nav-item">
                  <!-- Replace with search icon-->
                  <a class="nav-link" href="/job_search">Search</a>
                </li>
                <li class="nav-item">
                  <!-- Replace with person icon-->
                  <a class="nav-link" href="/settings">Settings</a>
                </li>
                <form class="d-flex" action="/logout">
                  <button class="btn btn-outline-light" type="submit">Log out</button>
                </form>
              </ul>
            </div>
        </div>
        <div class="container">
            <div class="center-box" id="submittedjobs">
                <h1>Recently Applied</h1>
            </div>
            
        </div>
        

    </body>
</html>