<!doctype html>
<html lang="en">
    <head>
        <script>
            fetch('/submitted_apps').then(res => res.json()).then(json => {
                json.forEach(element => {
                  if(element.msg){
                    const newDiv = document.createElement("div");
                    const br = document.createElement("BR")
                    var h3 = document.createElement('h3');
                    const link = document.createTextNode('You do not have any applications at this time!!')
                  h3.appendChild(link)
                  const container = document.getElementById("submittedjobs");
                  newDiv.appendChild(br)
                  newDiv.appendChild(br)
                  newDiv.appendChild(br)
                  newDiv.appendChild(h3)
                  container.appendChild(newDiv);
                  }
                  else{
                  const newDiv = document.createElement("div");
                  const link = document.createTextNode(element.job_title)
                  const loc = document.createTextNode(element.location)
                  const name = document.createTextNode(element.company_name)
                  var h3 = document.createElement('h5');
                  h3.appendChild(link)
                  newDiv.appendChild(h3);
                  var h4 = document.createElement('h6')
                  h4.appendChild(loc)
                  newDiv.appendChild(h4)
                  var h4 = document.createElement('h6')
                  h4.appendChild(name)
                  newDiv.appendChild(h4)
                  const container = document.getElementById("submittedjobs");
                  container.appendChild(newDiv);
                  newDiv.classList.add('panel-item')
                  newDiv.style.display = "inline-block";
                  newDiv.style.width = "300px";
                  newDiv.style.margin = "20px";
                  }
                });
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/base.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
        <title>Recently Applied</title>
    </head>
    <body>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand" href="/homepage">Job Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/savedjobs">Saved Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="recently_applied">Recently Applied</a>
            </li>
            <li class="nav-item">
              <!-- Replace with search icon-->
              <a class="nav-link" href="/job_search">Search</a>
            </li>
            <li class="nav-item">
              <!-- Replace with person icon-->
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
  
          </ul>
        </div>
  
      </div>
        <h1>Recently Applied</h1>
        <div class="container">
            <div class="center-box" id="submittedjobs">
                
            </div>
            
        </div>
        

    </body>
</html>